body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
  
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.create-trip {
    width: 25%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

input[type=text], textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 10px;
}

input[type=number] {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 10px;
}

button {
    width: 100%;
}

.add-button {
    height: 40px;
    background-color: #198754;
    border: 1px solid #198754;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trip-point {
    width: 100%;
    border: 1px solid #DDDDDD;
    background-color: #DDDDDD;
    border-radius: 5px;
    padding: 15px;
}

.trip-point > input {
    margin-top: 6px;
    margin-bottom: 6px;
}