body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

img {
    border: 1px solid #000000;
    border-radius: 5px;
}